//COLORS
$white:    #fff !default;
$primary: #4b22f4 !default;
$secondary: #4e5a61 !default;
$info: #019fff !default;
$light: #f0f5f8 !default;
$dark: #181b32 !default;
$gray-200: #e9ecef !default;
$gray-900: #212529 !default;
$blue:    #007bff !default;
//FONTS
$font-family-base: 'Nunito Sans', sans-serif !default;
$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$h1-font-size: 3.2rem !default;
//BTN
$btn-padding-y: .6rem !default;
$btn-padding-x: 1.3rem !default;
$btn-padding-y-sm: .45rem !default;
$btn-padding-x-sm: 1rem !default;
$btn-padding-y-lg: $btn-padding-y * 1.4;
$btn-padding-x-lg: $btn-padding-x * 1.4;
$btn-border-width: none !default;
$btn-border-radius: 100px !default;
$btn-border-radius-lg: 100px !default;
$btn-border-radius-sm: 100px !default;
$btn-font-size-lg: 1.1rem!default;
//INPUTS
$input-bg: $light !default;

//IMPORTS
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap';


//GENERAL
html, body {
  height: 100vh;
}
.container {
  max-width: 1300px !important;
}

a {
  outline: none !important;
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

*:focus {outline:none}


//NAV
nav {
  &.navbar {
    position: absolute !important;
    z-index: 99;
    top: 0; left: 0;
    width: 100%;
    height: 90px;
    background-color: $white;
  }
  .navbar-brand {
    img {
      height: 56px;
    }
    padding-right: 40px;
  }
  .nav-item {
    margin-right: 25px;
    .nav-link {
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: 1.5px;
      color: $gray-500 !important;
      &:hover {
        color: $dark !important;
      }
    }
    &.active {
      .nav-link {
        color: $dark !important;
      }
    }
  }
}


//HEADER
header {
  &.home {
    min-height: 900px;
    max-height: 1100px;
    padding-top: 90px;
    background-image: linear-gradient(190deg, #f3f8fa 1%, #eaf0f4 95%);
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 768px) and (max-width: 1199.98px) { 
      min-height: 830px;
    }
    /* Extra small devices (portrait phones, less than 768px) */
    @media (max-width: 767.98px) { 
      min-height: 750px;
    }
    .row {
      height: 100%;
    }
  }
  &:after {
    top: 76%;
    left: 70%;
    width: 110px;
    height: 40px;
    content: "";
    background-image: linear-gradient(-206deg, rgb(66, 228, 214) 0%, rgb(0, 176, 253) 100%);
    position: absolute;
    box-shadow: rgba(10, 32, 87, 0.1) 0px 10px 28px 0px;
    border-radius: 6px;
    z-index: 2;
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) { 
      top: 70%;
      left: 80%;
    }
    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 991.98px) { 
      display: none;
    }
  }
  .bg-shape-1 {
    position: absolute;
    top: 0px;
    left: 30%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
     /* Extra small devices (portrait phones, less than 768px) */
     @media (max-width: 767.98px) {
       display: none;
     }
}
  .bg-shape-2 {
    position: absolute;
    z-index: 1;
    top: 700px;
    left: -190px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    /* Large devices (desktops, 992px and up) */
    @media (max-width: 1199.98px) { 
      display: none;
    }
}
  .header-content {
    h1 {
      $font-weight-bold: 700 !default;
      $h1-font-size: 3.2rem !default;
      line-height: 62px;
      max-width: 450px;
      margin: 115px 0px 30px;
      /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        font-size: 28px;
        line-height: 42px;
      }
    }
    h4 {
      font-size: 22px;
      line-height: 36px;
      max-width: 450px;
      margin-bottom: 40px;
      color: $secondary;
      font-weight: 400;
      /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        font-size: 19px;
        line-height: 36px;
      }
    }
    .btn.btn-info{
      margin-bottom: 20px;
    }
    a.initiative , a.participants{
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      font-weight: 600;
      line-height: 33px;
      color: $secondary;
      opacity: 0.5;
      padding: 7px 15px 0px;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .header-banner {
    position: relative;
    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 991.98px) { 
      display: none;
    }
    &:before {
      top: 195px;
      left: 120px;
      width: 135px;
      height: 50px;
      content: "";
      background-image: linear-gradient(-206deg, rgb(66, 228, 214) 0%, rgb(0, 176, 253) 100%);
      position: absolute;
      box-shadow: rgba(10, 32, 87, 0.1) 0px 10px 28px 0px;
      border-radius: 6px;
      z-index: 2;
    }
    span.after-effect {
      position: absolute;
      top: 520px;
      left: 400px;
      width: 220px;
      height: 80px;
      background-color: rgb(10, 32, 86);
      box-shadow: rgba(10, 32, 87, 0.24) 0px 14px 28px 0px;
      border-radius: 6px;
      z-index: 2;
      /* Extra large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) and (max-width:1500px){ 
        left: 330px;
      }
      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) and (max-width: 1199.98px) { 
        left: 240px;
      }
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    img.bg-shape{
      width: 500px;
      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) and (max-width: 1199.98px) { 
        width: 450px;
      }
    }
    img.data-img-1 {
      top: 220px;
      left: 60px;
      z-index: 3;
    }
    img.data-img-2 {
      top: 420px;
      left: 220px;
      z-index: 3;
        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) and (max-width:1500px){ 
          top: 417px;
          left: 150px;
        }
        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) and (max-width: 1199.98px) { 
          left: 75px;
        }
    }
    img.data-img-3 {
      top: 85px;
      left: auto;
      right: 95px;
      z-index: 3;
      /* Extra large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) and (max-width:1500px){ 
        top: 30px;
        right: 20px;
      }
      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) and (max-width: 1199.98px) { 
        top: 30px;
        right: 30px;
      }
    }
  }
}

//FOOTER
footer {
  font-size: .9rem;
}

//STYLES
.btn {
  &.btn-shadow {
    box-shadow: #2248f445 0px 16px 25px 0px;
  }
}

//BOXES
.box-gray {
  background-image: linear-gradient(190deg, #f3f8fa 1%, #eaf0f4 95%);
}

@media (max-width: map-get($grid-breakpoints, "md")) {
}




// Data Area
.data-area {
  padding-top: 100px;
  .data-text {
    margin-bottom: 30px;
    p {
      font-size: 16px;
      line-height: 28px;
      color: $secondary;
      a{
        color: $info;
        font-weight: 500;
      }
    }
  }
  .data-banner {
    position: relative;
    img {
      position: absolute;
      top: 0;
      right: 0;
      left: -120px;
      z-index: 1;
    }
    img.shape-1{
      /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        display: none;
      }
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) and (max-width: 767.98px) { 
        display: inline-block;
        left: -45px;
      }
    }
    img.shape-1-1{
      display: none;
      /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        display: inline-block;
        width: 100%;
        left: 0;
      }
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) and (max-width: 767.98px) { 
        display: none;
      }
      @media (min-width: 415px) and (max-width: 575px) {
        width: 350px;
        left: 60px;
      }
    }
    h3 {
      color: $white;
      position: relative;
      padding: 100px 100px;
      z-index: 2;
      padding-right: 80px;
      padding-left: 140px;
      font-size: 36px;
      line-height: 54px;
      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 768px) and (max-width: 991.98px) { 
        padding: 75px 100px;
        padding-right: 27px;
        padding-left: 130px;
      }
      /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        padding: 70px 0px;
        padding-right: 0px;
        padding-left: 0px;
        z-index: 2;
        padding-right: 10px;
        padding-left: 70px;
        font-size: 28px;
        line-height: 45px;
      }
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) and (max-width: 767.98px) { 
        padding: 100px 0px;
        z-index: 2;
        padding-right: 10px;
        padding-left: 170px;
      }
    }
  }
  .data-link {
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) { 
      margin-top: 200px;
      margin-bottom: 45px;
    }
    @media (min-width: 390px) and (max-width: 575px) { 
      margin-top: 100px;
    }
    a {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      font-weight: 600;
      line-height: 33px;
      color: #4e5a61;
      opacity: 0.5;
      padding: 7px 15px 0px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
  }
}


// about Area
.about-area {
  padding-top: 120px;
  padding-bottom: 120px;
  .about-content{
    img{
      margin-bottom: 50px;
    }
    p{
      font-size: 16px;
      line-height: 27px;
      color: $secondary;
    }
  }
}


// Sensor Area
.sensor-area {
  margin-top: 100px;
  padding-bottom: 100px;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /* Extra small devices (portrait phones, less than 768px) */
    @media (max-width: 767.98px) { 
      width: 100%;
    }
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) { 
      width: 300px;
    }
    @media (min-width: 380px) and (max-width: 575px) { 
      width: 290px;
    }
  }
  .sensor-content {
    padding-top: 140px;
    padding-right: 50px;
     /* Extra large devices (large desktops, 1200px and up) */
     @media (min-width: 1200px) and (max-width:1500px){ 
      padding-right: 10px;
     }
    h4 {
      color: #0394f7;
    }
    p {
      color: $white;
      font-size: 16px;
      line-height: 32px;
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) and (max-width: 767.98px) {
        max-width: 300px;
       }
       @media (min-width: 390px) and (max-width: 575px) { 
        max-width: 200px;
       }
    }
  }
}


// Service Area
.service-area {
  padding-top: 100px;
  .box-gray {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 530px;
    position: relative;
    margin-bottom: -180px;
    z-index: 2;
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) { 
      margin-bottom: -110px;
    }
    /* Extra small devices (portrait phones, less than 768px) */
    @media (max-width: 767.98px) { 
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 25px;
      padding-bottom: 20px;
      min-height: 400px;
      margin-bottom: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }
    h3 {
      color: $gray-900;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
       /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        font-size: 30px;
      }
    }
    a {
      display: block;
      font-size: 36px;
      color: $info;
      font-weight: 900;
      position: absolute;
      bottom: 40px;
      left: 50px;
       /* Extra small devices (portrait phones, less than 768px) */
       @media (max-width: 767.98px) { 
        bottom: 20px;
        left: 20px;
       }
    }
  }
  .shape-banner {
    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 991.98px) { 
      display: none;
    }
  }
  .service-banner {
    position: relative;
    z-index: 1;
  }
  .blue-box {
    background-color: $blue;
    color: $white;
    padding: 50px;
    position: relative;
    margin-top: -320px;
    z-index: 2;
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) and (max-width:1500px){ 
      margin-top: -230px;
    }
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: -210px;
    }
    /* Extra small devices (portrait phones, less than 768px) */
    @media (max-width: 767.98px) {
      padding: 20px;
      margin-top: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }
    h3 {
      color: inherit;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 40px;
      /* Extra small devices (portrait phones, less than 768px) */
      @media (max-width: 767.98px) { 
        font-size: 30px;
      }
    }
    p {
      font-weight: 100;
      font-size: 22px;
      color: $light;
      line-height: 32px;
      padding-top: 30px;
      margin-bottom: 0;
    }
  }
}
